@import url("./root.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

.mw-574 {
    max-width: 574px !important;
}

.pl-30 {
    padding-left: 30px !important;
}

.mw-pl {
    max-width: 220px;
}

.h-nav {
    height: 60px;
}

.ls-0 {
    letter-spacing: 0 !important;
}

.pr-27 {
    padding-right: 27px;
}

.lh-146 {
    line-height: 146.5%;
}

.lh-26 {
    line-height: 26px;
}

.lh-189 {
    line-height: 189.5%;
}

.pt-70 {
    padding-top: 70px;
}

.mw-95 {
    max-width: 95px;
}

.h-300 {
    height: 300px;
}

.mw-fmou {
    max-width: 500px;
}

.mw-160 {
    max-width: 160px;
}

.btn-connect {
    width: 239px;
    height: 59px;
    border-radius: 69.041px;
    background: var(--red);
    border: none;
    transition: .3s linear;
}

.btn-connect:hover {
    background: var(--white);
    color: var(--red);
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--black);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--black);
}

.icon:hover svg path {
    fill: var(--red);
    transition: .3s linear;
}

.icon:hover svg circle {
    fill: var(--white);
    transition: .3s linear;
}

.d_none {
    display: none !important;
}

.mw-98 {
    max-width: 98px;
}

.pr-32 {
    padding-right: 32px;
}

.pr-16 {
    padding-right: 16px;
}

.pr-25 {
    padding-right: 25px;
}

.mw-50 {
    max-width: 50px;
}

.top-1 {
    top: -1px;
}

.left-1 {
    left: -1px;
}

.icon svg {
    width: 30px;
    height: 30px;
}

@media (max-width:490px) and (min-width:391px) {
    .mw-mouse {
        max-width: 85px;
    }

    .mw-pl {
        max-width: 200px;
    }

    /* .mw-tree {
        max-width: 108px;
    } */
}

@media (min-width:576px) {
    .mw-pl {
        max-width: 340px;
    }

    .mw-sm-160 {
        max-width: 160px;
    }

    .mh-sm-160 {
        max-height: 160px;
    }

    .pr-40 {
        padding-right: 40px;
    }

    .h-nav {
        height: 75px;
    }
}

@media (min-width:768px) {
    .mw-pl {
        max-width: 420px;
    }

    .icon svg {
        width: 49px;
        height: 49px;
    }

    .h-nav {
        height: 90px;
    }
}

@media (min-width:992px) {
    .mw-pl {
        max-width: 573px;
    }

    .pr-lg-35 {
        padding-right: 35px;
    }

    .h-nav {
        height: 100px;
    }

    .pt-lg-50 {
        padding-top: 50px !important;
    }

    .mw-fmou {
        max-width: 300px;
    }
}

@media (max-width:1250px) and (min-width:992px) {
    .mw-mouse {
        max-width: 95px;
    }
}

@media (min-width:1300px) {
    .d_block {
        display: block !important;
    }
}

@media (min-width: 1440px) {
    .custum-container {
        max-width: 1620px !important;
        padding-left: 12px;
        padding-right: 12px;
        margin-left: auto;
        margin-right: auto;
    }
}