@import url("./root.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

.mw-574 {
    max-width: 574px !important;
}

.pl-30 {
    padding-left: 30px !important;
}

.mw-pl {
    max-width: 280px;
}

.h-100px {
    height: 100px;
}

.ls-0 {
    letter-spacing: 0 !important;
}

.pr-27 {
    padding-right: 27px;
}

.lh-146 {
    line-height: 146.5%;
}

.lh-26 {
    line-height: 26px;
}

.lh-189 {
    line-height: 189.5%;
}

.pt-70 {
    padding-top: 70px;
}

.mw-95 {
    max-width: 95px;
}

.h-300 {
    height: 300px;
}

.mw-300 {
    max-width: 300px;
}

.mw-160 {
    max-width: 160px;
}

.btn-connect {
    width: 239px;
    height: 59px;
    border-radius: 69.041px;
    background: var(--red);
    border: none;
}

.icon:hover svg path {
    fill: var(--red);
    transition: .3s linear;
}

.icon:hover svg circle {
    fill: var(--white);
    transition: .3s linear;
}

.d_none {
    display: none !important;
}

@media (min-width:576px) {
    .mw-pl {
        max-width: 400px;
    }

    .mw-sm-160 {
        max-width: 160px;
    }
}

@media (min-width:768px) {
    .mw-pl {
        max-width: 470px;
    }
}

@media (min-width:992px) {
    .mw-pl {
        max-width: 573px;
    }

    .pr-lg-35 {
        padding-right: 35px;
    }
}

@media (min-width:1300px) {
    .d_block {
        display: block !important;
    }
}

@media (max-width:992px) {
    .mobile-veiw {
        position: fixed;
        top: 0;
        width: 100%;
        min-height: 100vh;
        height: 100%;
        right: -100%;
        background: var(--black);
        align-items: center;
        z-index: 2;
        justify-content: center;
        transition: .3s linear;
    }

    .menu-line {
        width: 30px;
        height: 25px;
        display: flex;
        justify-content: space-between;
        background: inherit;
        flex-direction: column;
        position: relative;
        z-index: 2;
        transition: .3s linear;
    }

    .menu-line span {
        width: 100%;
        height: 3px;
        background-color: var(--white);
        border-radius: 2px;
        transition: .3s linear;
    }

    .cross .line1 {
        transform: rotate(50deg) translate(16px, 15px);
    }

    .cross .line2 {
        transform: translateX(-50%);
        opacity: 0;
    }

    .cross .line3 {
        transform: rotate(-50deg) translateY(-50%);
    }
}

.animation {
    animation: swing 2s linear infinite;
}

@keyframes swing {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}

.duration_300 {
    transition: 300ms linear;
}

.pointer_event_none {
    pointer-events: none;
}